@keyframes gameboard-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 20px;
    box-sizing: border-box;
    
    max-width: 100%;
    height: auto;
    gap: 20px;
}

.gameboard-fade {
    animation: gameboard-fade .6s;
}